div.taglist {
    border: 1px solid #CCC;
    background: #FFF;
    padding: 5px;
    width: 300px;
}

div.taglist span.tag {
    border: 1px solid #a5d24a;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: block;
    float: left;
    padding: 5px;
    text-decoration: none;
    background: #cde69c;
    color: #638421;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-size: 13px;
}

div.taglist span.tag a {
    font-weight: bold;
    color: #82ad2b;
    text-decoration: none;
    font-size: 11px;
}

div.taglist div.tag-input input {
    width: 80px;
    margin: 0px;
    font-family: sans-serif;
    font-size: 13px;
    border: 1px solid transparent;
    padding: 5px;
    background: transparent;
    color: #000;
    outline: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tags_clear {
    clear: both;
    width: 100%;
    height: 0px;
}