<table ng-table="tableParams" show-filter="true" class="table">
    <tr ng-repeat="employee in $data" popover="User info" popover-title="{{employee.name}}">
        <td data-title="'Name'" filter="{'name':'text'}">
            <span tooltip="Age: {{employee.age}}, Grade: {{employee.grade}}" filter="{'name':'text'}">
                {{employee.name}}
            </span>
        </td>
        <td data-title="'Age'" filter="{'age':'text'}">{{employee.age}}</td>
        <td data-title="'Grade'" filter="{'grade':'text'}">{{employee.grade}}</td>
        <td data-title="'Job'" filter="{'job':'text'}">{{employee.job}}</td>
        <td>
            <button ng-if="teamSelected" class="btn btn-default" ng-click="addMember(employee, $event)"><span class="glyphicon glyphicon-plus"></span>
            </button>
        </td>
    </tr>
</table>
