<taglist tag-data="selectedEmployees">
    <input ng-disabled="!selectedTeam" type="text" ng-model="selectedTag" typeahead="employee.name for employee in employees | filter:$viewValue" class="form-control" />
</taglist>
<button class="btn btn-default" ng-disabled="selectedEmployees.length<1 || !selectedTeam " ng-click="refresh()">
    Refresh
</button>
