<div class=" col-lg-3 panel">
    <div class="panel-head">
        <form name="addTeamForm" ng-model="addTeamForm">
            <div class="input-group col-xs-12">
                <input class="form-control" type="text" ng-model="addTeamForm.teamName" required="" ng-pattern="/^[a-zA-Z0-9 ]*$/" />
                <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="addTeam(addTeamForm.teamName)"
                                    ng-disabled="addTeamForm.$invalid">Add
                            </button>
                        </span>
            </div>
        </form>
    </div>
    <div status></div>
    <div class="panel-body">
        <div class="list-group">
            <a class="list-group-item" ng-repeat="team in teamCollection" ng-click="selectTeam()" selection-model selection-model-selected-items="selectedTeam" selection-model-selected-class="active">
                <div class="row pointer">
                    <div class="col-xs-9 "><strong>{{team.name}}</strong></div>
                    <div class="col-xs-3">
                        <button ng-show="team.employees.length>0" class="btn btn-default btn-xs pull-right" ng-click="isCollapsed = !isCollapsed" selection-model-ignore>{{isCollapsed ? 'Expand' : 'Roll up'}}
                        </button>
                    </div>
                </div>
                <hr/>
                <ul class="list-group-item-text" collapse="isCollapsed" selection-model-ignore>
                    <li tooltip="Age: {{member.age}}, Grade: {{member.grade}}" ng-repeat="member in team.employees">
                        {{member.name}} <span class="glyphicon glyphicon-remove" ng-click="removeMember(member.id)"></span></li>
                </ul>
            </a>
        </div>
    </div>
</div>
</div>
</div>
