<!DOCTYPE html>
<html ng-app="awesome-app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Awesome App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" />
        <% }); %>
</head>

<body ng-cloak>
    <div class="app-teams container">
        <div class="row">
            <awesome-tabs></awesome-tabs>
            <awesome-team-list></awesome-team-list>
        </div>
    </div>
    <% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %>"></script>
        <% }); %>
</body>

</html>
