<div class="col-lg-9">
    <tabset>
        <tab ng-repeat="t in tabs" heading="{{t.heading}}" select="go(t.route)" active="t.active">
        </tab>
    </tabset>
    <div ui-view class="panel-body"></div>
</div>
